{{define "base"}}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  {{if eq .Title ""}}
  <title>証明写真作成工房</title>
  {{else}}
  <title>{{.Title}} - 証明写真作成工房</title>
  {{end}}
  <link rel="stylesheet" href="./static/css/main.css" />
  {{template "head" .}}
</head>
<body>
  <div id="spinner" class="spinner" style="display:none;">
    <img src="./static/images/spinner.gif" alt="Spinner" />
  </div>
  <div id="main">
    <div id="header">
      {{if eq .Title ""}}
      <a class="title" href="./">証明写真作成工房</a>
      {{else}}
      <a class="title" href="./">証明写真作成工房</a> - {{.Title}}
      {{end}}
    </div>
    <div id="main-box">
      <div id="content">
{{template "body" .}}
      </div>
      <div id="sidebar">
        <div class="module">
          <div class="module-header">
            広告
          </div>
          <div class="module-content">
          </div>
        </div>
      </div>
    </div>
    <div id="footer">2010-2016 <a href="https://7io.org/">ψ（プサイ）の興味関心空間</a></div>
  </div>
</body>
</html>
{{end}}
{{define "head"}}
{{end}}
