{{define "base"}}
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  {{if eq .Title ""}}
  <title>証明写真作成工房</title>
  {{else}}
  <title>{{.Title}} - 証明写真作成工房</title>
  {{end}}
  <link rel="stylesheet" href="./static/css/main.css" />
  {{template "head" .}}
</head>
<body>
  <div id="spinner" class="spinner" style="display:none;">
    <img src="./static/images/spinner.gif" alt="Spinner" />
  </div>
  <div id="main">
    <div id="header">
      {{if eq .Title ""}}
      <a class="title" href="./">証明写真作成工房</a>
      {{else}}
      <a class="title" href="./">証明写真作成工房</a> - {{.Title}}
      {{end}}
    </div>
    <div id="main-box">
      <div id="content">
{{template "body" .}}
      </div>
      <div id="sidebar">
        <div class="module">
          <div class="module-header">
            広告
          </div>
          <div class="module-content">
            <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-4766333-2', 'auto');
ga('send', 'pageview');

</script>
                      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                      <!-- WebService縦 -->
                      <ins class="adsbygoogle"
                           style="display:inline-block;width:160px;height:600px"
                           data-ad-client="ca-pub-3121031347596821"
                           data-ad-slot="9192088374"></ins>
                      <script>
                      (adsbygoogle = window.adsbygoogle || []).push({});
                      </script>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">2010-2016 <a href="http://ledyba.org/">ψ（プサイ）の興味関心空間</a></div>
  </div>
</body>
</html>
{{end}}
{{define "head"}}
{{end}}
